/*
    force image to contain from certain aspect ratio
  */

.image img {
  overflow: hidden;
  object-fit: cover;
}

.image__overlay {
  position: absolute;
  top: 0;
  background: $primary;
  height: 100%;
  width: 100%;
  z-index: 1;
  opacity: 0.4;
}
