$box-radius: 2px;

.index {
  /*
    Making underlines
  */
  .section .section__title::after {
    display: block;
    position: static;
    bottom: 0;
    min-width: 5rem;
    width: 9%;
    height: 0.3rem;
    background-color: $primary-light;
    content: '';
  }

  /*
    Longer underline, for long texts
  */
  .section#upcoming-projects .section__title::after {
    min-width: 6rem;
    width: 16%;
  }

  /*
    Alternate colors for each sections
  */
  .main > .section:nth-of-type(odd) {
    background-color: #eeeeee;
  }

  /*
    sharpen the box borders, like a card
    remove box padding and put it to child
  */
  .project {
    padding: 0;
    border-radius: $box-radius;
  }

  /*
    remove border for image, and make border radius same
  */
  .project .image,
  .image img {
    margin: 0;
    border-radius: $box-radius;
  }

  .project__body {
    padding: $box-padding;
  }
}
