$box-radius: 2px;
/*
  sharpen the box borders, like a card
  remove box padding and put it to child
*/
.article-box {
  padding: 0;
  border-radius: $box-radius;
}

/*
  remove border for image, and make border radius same
*/
.article-box .image,
.image img {
  margin: 0;
  border-radius: $box-radius;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.article-box__body {
  padding: $box-padding;
}
